*{
	margin:0;
	padding:0;
}

body{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.background{
	/*background-image: url("images/laptop.jpg");*/
	background-color: #808080;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 50px;
	height: 590px;
	width: 100%;
}

/*.navbarhtml{
	margin-top: -50px;
	color: black;
}*/

#navbarhtml{
		background-color: black;
		width: 100%;
		top: 0;
		padding-top: 9px;
		padding-right: 40px;
		position: fixed;
		scroll-behavior: smooth;
		overflow: hidden;
		height: 70px;
		text-align: right;
}

.judul{
	background-color: #808080;
	border: solid black;
	width: 55%;
	padding: auto;
	margin: auto;
	box-shadow: 3px 5px black;
	margin-top: 40px;
	color: white;
	font-weight: bold;
}

#container{
	width:680px;
	margin:40px auto;
	overflow:hidden;
}

#slider{
	width:680px;
	height:350px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border-radius:30px;
}

#slider img{
	border-radius:30px;
	width:680px;
	height:350px;
}

.slide{
	border-radius:30px;
	position:absolute;
}

#prev, #next{
	float:left;
	margin-top:130px;
	cursor:pointer;
	position:relative;
	z-index:100;
}

#prev{
	width: 42px;
	height: 42px;
	margin-right:-45px;
}

#next{
	width: 42px;
	height: 42px;
	margin-left:-43px;
}

.about{
	padding-top: 150px;
	padding-left: 800px;
}

.img{
	width: 320px;
	height: 320px;
	border: solid;
	border-radius: 50%;
}

.text{
	margin-right: 30px;
}