/*pengaturan isi */
#isi {
	padding : 5px;
	width : 99%;
	height : auto;
	background-color : #ba7584;
	position : relative;
	margin : 5px;
}
#isikonten {
	padding : 5px;
	width : 98%;
	height : 150px;
	background-color : #bc9d64;
	margin-bottom : 5px;
}