/*pengaturan isi */
#isi {
	padding : 5px;
	width : 99%;
	height : auto;
	background-color : #ba7584;
	position : relative;
	margin : 5px;
}
#isikonten {
	padding : 5px;
	width : 98%;
	height : 150px;
	background-color : #bc9d64;
	margin-bottom : 5px;
}
/* pengaturan gambar */
#gambardepan {
	padding : 1px;
	width : 150%;
	height : 140px;
	border : 1px solid #dddddd;
	float : left;
	margin-right : 5px;
	margin-top : 5px;
}
/* pengaturan judul */
#isikonten h2 {
	font-size : 20px;
	font-weight : bold;
	color : #ffffff;
	margin-top : 4px;
	margin-bottom : 3px;
}
.isikonten a {
	text-decoration : none;
}
.isikonten a:hover {
	color : yellow;
}
