.inijudul{
  padding-top: -50px;
  margin-top: -50px;
  font-family:cursive;
}
.background2{
  background-attachment: fixed;
  background-image: url("images/background4.jpeg");
  background-color: #808080;
  background-size: cover;
  padding-top: 50px;
  height: 1790px;
  scroll-behavior: smooth;
  width: 100%;
}

h2,p{
  font-family:cursive;
  color:white;
}

.h3-a{
  color: white;
  font-weight: bold;
}

#footer{
  width: 100%;
  height: 40px;
  margin-top: 250px;
  margin-bottom: -1000px;
  background-color: transparent;
  color: white;
  font-size: 12pt;
  text-align: center;
  position: relative;
  clear: both;
}

#isi{
  padding-left: 180px;
  padding-top: 60px;
  width: 850px;
}

.space{
  padding-right: 40px;
}

.jdl{
  font-weight: bold;
  color: #cecece;
}

.read-more1{
  color: red;
}

.nav-link2{
  color: white;
  border: solid;
  border-radius: 30px;
}

.nav-link2:hover{
  color: red;
}